<div class="row">
  <%= render 'sidebar', user: @user, book: @book_new %>
  <div class="col-lg-8 offset-lg-1">
    <h2>Book detail</h2>
    <table class="table">
        <tr>
          <td><%= link_to @user.name, users_path %></td>
          <td><%= link_to @book.title, book_path(@book) %></td>
          <td><%= @book.body %></td>
        </tr>
    </table>
  </div>
  