<div class="row">
  <div class="col-xl-6 mx-auto">
    <h1>welcome to <i class="fas fa-book"></i><strong>Bookers</strong> !!</h1>
    <p>In <i class="fas fa-book"></i><strong>Bookers</strong>,</p>
    <p>you can share and exchange your opinions , inpressions , and emotions</p>
    <p>about various books!</p>
    <div class="col-xl-11 mx-auto">
      <%= link_to "Log in", new_user_session_path, class: "btn btn-info btn-sm w-100 mb-3" %>
      <%= link_to "Sign up", new_user_registration_path, class: "btn btn-success btn-sm w-100 " %>
    </div>
  </div>
</div>